.dropdown {
    cursor: pointer;
}
.not-allowed {
    cursor: not-allowed;
}
.dropdown .badge {
    background-color: #777;
    margin-right: 2px;
}
.dropdown .dropdown-menu, .dropdown button {
    width: 100%;
}
#dropdownMenu > .caret {
    margin-top: 8px;
    margin-right: -6px;
}
.dropdown-menu div {
    width: 100%;
    z-index: 1;
}
.dropdown-static {
    position: absolute;
    list-style-type: none;
    background-color: white;
    width: 100%;
    padding-left: 0px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #e5e5e5;
}
.dropdown-scrollable {
    list-style-type: none;
    padding: 0px 0px 0px;
    margin-top: 65px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
}
.hasfilter {
    margin-top: 100px;
}
.dropdown-height {
    max-height: 300px;
}
.dropdown-menu .dropdown-static > li > a, .dropdown-menu .dropdown-scrollable > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    height: 25px;
}
.dropdown-menu .dropdown-scrollable > li > a > .option-content {
    position: absolute;
    left: 40px;
}
.dropdown-menu .dropdown-scrollable > li > a > .option-selected-icon {
    margin-left: 3px;
}
.dropdown-menu li a:hover {
    color: #333;
    background-color: #F9F2F4;
}
.dropdown-show {
    display: block !important;
}
.dropdown-hide {
    display: none !important;
}

/* for bootstrap icons only */

.glyphicon {
    position: static;
}
.pad-icon {
    padding-top: 4px;
}

/* filter search */

.filter-parent {
    position: relative;
    font-size: 18px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 3px auto 0px;
}
.filter-parent label {
    position: absolute;
    left: 27px;
    top: 5px;
    color: #C3BFBF;
}
.filter-parent > div {
    width: 100%;
}
.filter-parent #filter-by {
    padding: 6px 26px;
    border-radius: 23px;
    height: 30px;
}

/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .hasfilter {
        margin-top: 112px !important;
    }
    .dropdown-menu .dropdown-static > li > a, .dropdown-menu .dropdown-scrollable > li > a {
        line-height: 2;
    }
}