html, body {
    height: 100%;
}

main {
    height: 100%;
    padding: 20px;
}

main h5 {
    margin: 0;
    padding: 0 20px;
}

section.flexcontainer {
    display: flex;
    display: -webkit-flex;
    height: 100%;
    margin: 0;
    padding: 10px;
}

.flex-left {
    flex: 1 0 0;
    padding: 0 10px;
}

.flex-right {
    height: 100%; /* Safari fix */
    flex: 1 0 0;
    padding: 0 10px;
}

.flex-right pre {
    height: 100%;
    margin: 0;
    overflow: scroll;
}
